form {
    width: 300px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 14px;
    box-shadow: 0px 2px 7px rgba(45, 69, 49, 0.2);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.9s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  